<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>supabaseAnonKey</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp6eXZ3YnZuZ3ZscXF6bXd6YnZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE4OTc3MTcsImV4cCI6MjA2NzQ3MzcxN30.i9AXGtEW_hb3Ujd7ogjvFUfg5y9Kb1d4E5qlSAizbRk</string>
	<key>supabaseUrl</key>
	<string>https://jzyvwbvngvlqqzmwzbvn.supabase.co</string>
</dict>
</plist>
