<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>supabaseAnonKey</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp6eXZ3YnZuZ3ZscXF6bXd6YnZuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MTg5NzcxNywiZXhwIjoyMDY3NDczNzE3fQ.IY0f4E73SmMUq7U596fkzwUgZMGK3F0I1-33sJZS49Q</string>
	<key>supabaseUrl</key>
	<string>https://jzyvwbvngvlqqzmwzbvn.supabase.co</string>
</dict>
</plist>
